.btn-pink{color:#EF7A85;
border: 0;
    line-height: 2.5;
    padding: 0 30px;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color:#F6C5AF;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);

                font-family:roboto',sans serif;
                style-decoration:none ;
 }